{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Lumineuse fabrique{% endblock %}

{% block content %}
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <h1>Modification du mot de passe</h1>
            C'est dans cet espace que vous allez pouvoir modifier votre mot de passe.
            <hr>
            - <a href="{{path('app_account')}}">Retourner a mon compte</a><br>
            <hr>
            {% if notification %}
                <div class="alert alert-info" role="alert">
                    {{notification}}
                </div>
            {% endif %}
            {{form(form)}}


        </div>
    </div>

{% endblock %}


